%title 
  = "Game #{cookies["id"]}"
.game{:id => "#{cookies["id"]}"}
  %h4
    = "Game #{cookies["id"]}"
    - moves = @game["moves"]
    - winner = @game["winner"]
    %ol
      - moves.each do |move|
        %li
          = "#{move["token"]} moved to #{move["position"]}"
    -if winner
      %p
        = "#{winner.capitalize} won!"

