%title
  = "History of Games"
- games = History.retrieve_or_create(settings.history_path)["games"]
- games.keys.each do |id|
  .game{:id => "#{id}"}
    %h4
      = "Game #{id}"
      %ol
        -if games[id]["moves"] 
          - games[id]["moves"].each do |move|
            %li
              = "#{move["token"]} moved to #{move["position"]}"
      -if games[id]["winner"]
        %p
          = "#{games[id]["winner"].capitalize} won!"
    %p
      = "-" * 20
            
